@page

@using Web.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model Web.Pages.Account.Households.DetailsModel
@{
    var owner = await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "HouseOwner");
}

<style>
    img {
        width: 80px
    }
</style>
<div class="page-header breadcrumb-wrap" >
    <div class="container">
        <div class="breadcrumb">
            <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
            <span></span>  <a href="/account/details" rel="nofollow">Account</a><span></span> Household
        </div>
    </div>
</div>
<main class="main-wrap">

    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
             
                <datalist id="search_terms">
                    <option value="Products"></option>
                    <option value="New orders"></option>
                    <option value="Apple iphone"></option>
                    <option value="Ahmed Hassan"></option>
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
 
        
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Household Members</h2>
            <div style="position:relative;left: 90%; top: -100%;  ">
                <a data-bs-target="#invite" data-bs-toggle="modal" class="btn btn-primary"><i class="material-icons md-plus"></i> Invite Members</a>
            </div>
        </div>
        <div class="card mb-4" style="margin-top: 40px">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" style="background-color: white" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Members</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Registered</th>
                                @if(owner) {
                                    <th class="text-center">Action</th>
                                }
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in @Model.HouseholdDetailsUiState.Users)
                            {
                                <tr>

                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <div class="left">
                                                <img width="100px" src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg" class="img-sm img-avatar" alt="Userpic" />
                                            </div>
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title">@user.UserName</h6>
                                                <small class="text-muted">@user.FirstName @user.LastName</small>
                                            </div>
                                        </a>
                                    </td>
                                    <td>@user.Email</td>
                                    <td>

                     
                                    @foreach (var role in (await UserManager.GetRolesAsync(user)))
                                    {
                                        if (role == "HouseOwner")
                                        {
                                            <span class="badge rounded-pill alert-danger">@role</span>
                                        }
                                        else
                                        {
                                            <span class="badge rounded-pill alert-success">@role</span>
                                        }
                                    
                                    }
                                    </td>
                                   
                                    <td>@user?.CreatedAt?.ToString().Split(" ")[0]</td>


                                    @if (owner && (await UserManager.GetUserAsync(User)).Id != user.Id)
                                    {
                                        <td class="text-center">

                                            <button data-bs-toggle="modal" data-bs-target="#quickViewModal-@(user.Id)" style="background-color: black; color:white;margin-right: 15px" href="#" class="btn btn-sm btn-warning rounded font-sm mt-15">Transfer Ownership</button>
                                            <button href="#" data-bs-toggle="modal" data-bs-target="#ViewModal-@(user.Id)" style="background-color:red" id="ok" class="btn btn-sm btn-brand rounded font-sm mt-15">Remove</button>
                                        </td>

                                  }
                           



                                    <div class="modal fade custom-modal" id="quickViewModal-@(user.Id)" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                <div class="modal-body">
                                                    <div class="row">


                                                        <div class="detail-info pr-30 pl-30">
                                                            <span class="stock-status out-stock"> Danger </span>
                                                            <h3 class="title-detail"><a style="" href="shop-product-right.html" class="text-heading">Are you sure you want to transfer ownership to</a></h3>

                                                        </div>
                                                        <!-- Detail Info -->
                                                        <div style="margin-top: 30px;margin-left:10px" class="text-start">

                                                        <form method="POST">
                                                            
                                                                 <input value="@user.UserName"  disabled style="margin-bottom:20px"/>
                                                                 <input type="hidden" value="@user.Id" asp-for="HouseholdDetailsUiState.NextOwnerId"/>
                                                                <button type="submit" asp-page-handler="Patch" style="margin-right: 15px;background-color: #000;padding: 10px 30px; font-weight: 700" id="bro" class="btn btn-lg btn-warning rounded font-sm mt-15">Give owner to @user.UserName</button>


                                                        </form>
                                                   
                                                            <button data-bs-dismiss="modal" aria-label="Close" class="btn btn-lg btn-brand rounded font-sm mt-15">No thanks</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="modal fade custom-modal" id="ViewModal-@(user.Id)" tabindex="-1" aria-labelledby="ViewModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                <div class="modal-body">
                                                    <div class="row">

                                                    
                                                            <div class="detail-info pr-30 pl-30">
                                                                <span class="stock-status out-stock"> Danger </span>
                                                                <h3 class="title-detail"><a style="" href="shop-product-right.html" class="text-heading">Are you sure you want to remove @user.UserName</a></h3>
                                                               
                                                            </div>
                                                            <!-- Detail Info -->
                                                            <div style="margin-top: 30px;margin-left:10px" class="text-start" >
                                                                <form method="POST">
                                                                <input asp-for="HouseholdDetailsUiState.UserRemoveId" value="@user.Id" type="hidden" />
                                                                <button type="submit"  style="margin-right: 15px; background-color: red; hover: red; padding: 10px 30px; font-weight: 700" id="hi" class="btn btn-lg btn-brand rounded font-sm mt-15">Remove @user.UserName</button>
                                                                </form>

                                                            <button data-bs-dismiss="modal" aria-label="Close"  class="btn btn-lg btn-brand rounded font-sm mt-15">No thanks</button>
                                                            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                </tr>
                            }
                
                        </tbody>
                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>

            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>









<div class="modal fade custom-modal" id="invite" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info pr-30 pl-30">
                            <span class="stock-status out-stock"> Sale Off </span>
                            <h3 class="title-detail"><a href="shop-product-right.html" class="text-heading">Seeds of Change Organic Quinoa, Brown</a></h3>
                            <div class="product-detail-rating">
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                </div>
                            </div>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <span class="current-price text-brand">$38</span>
                                    <span>
                                        <span class="save-price font-md color3 ml-15">26% Off</span>
                                        <span class="old-price font-md ml-15">$52</span>
                                    </span>
                                </div>
                            </div>
                            <div class="detail-extralink mb-30">
                                <div class="detail-qty border radius">
                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                            <div class="font-xs">
                                <ul>
                                    <li class="mb-5">Vendor: <span class="text-brand">Nest</span></li>
                                    <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Detail Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                                <style>
                                    #hi:hover {
                                       background-color: darkred !important;
                                    }
                                       #ok:hover {
                                       background-color: darkred !important;
                                    }
                                                     #bro:hover {
                                       background-color: #000 !important;
                                    }
                                </style>